.popup__input {
  border-bottom: 1px rgba(0,0,0,.2) solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 6px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}


